body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

section {
	padding:0 100px;
	background-image:url(trees-peaks.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
	display: flex;
	/*justify-content: center;*/
	flex-direction: row-reverse;
	align-items: center;
}

.box {
	position: relative;
	max-width: 600px;
	padding: 50px;
	background: rgba(255, 255, 255, .2);
	box-shadow: 0 5px 15px rgba(0,0,0,.5);
}

.box h2 {
	margin: 0 0 20px;
}